<h1>Admin Panel</h1>
<a href="/">Back to Page</a>
<body>
    <h3>Add a new User</h3>
    <% include addUser %><br>
    <h3>All Users</h3>
    <div class="flex">
        <% user.forEach(function (user) { %>
            <%- include('userList',{user: user}); %>
        <% }) %>
    </div>
</body>
