<head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" type"text/css" href="/stylesheets/index.css">
</head>

<form action="/updatePost" method="POST">
    <ul class="flex-outer">
        <li>
            <label for="title">Update Title</label>
            <input type="text" name="blogposttitle" value=""><br />
        </li>
        <li>
            <label for="update">Update Post</label>
            <textarea type="textarea" name="blogpost" value=""></textarea><br />
        </li>
        <li>
            <button rows="6" type="submit">Submit</button>
        </li>
    </ul>
</form>