<html>
    <body>
        <div class="container">
        
            <div class="page-header text-center">
                <h1><span class="fa fa-anchor"></span> Profile Page</h1>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                <a href="/profile" class="btn btn-default btn-sm">back to profile</a>
            </div>
        
            <div class="row">
        
                <!-- LOCAL INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <h3><span class="fa fa-user"></span> Local</h3>
        
                            <p>
                                <strong>id</strong>: <%= user._id %><br>
                                <strong>email</strong>: <%= user.local.email %><br>
                            </p>
        
                    </div>
                </div>
                <form action="/profile/editProfile/<%= user._id %>" method="POST">
                    <div class="form-group">
                        <label>Full name</label>
                        <input type="text" class="form-control" name="nameEdit" placeholder="name">
                        <input type="text" class="form-control" name="lastNameEdit" placeholder="last name">
                    </div>
                    <div class="form-group">
                        <label>Department</label>
                        <input type="text" class="form-control" name="departmentEdit">
                    </div>
                    <div class="form-group">
                        <label>Company ID</label>
                        <input type="text" class="form-control" name="companyIdEdit">
                    </div>
            
                    <button href="/profile" type="submit" class="btn btn-warning btn-lg">Submit</button>
                </form>
        
            </div>
        
        </div>
        </body>
</html>