<html>
    <form action="/renewPassword/<%= user._id %>/<%= user.resetPasswordToken %>" method="post">
        <div class="form-group">
            <label>old Password</label>
            <input type="password" class="form-control" name="oldPassword">
        </div>
        <div class="form-group">
            <label>new Password</label>
            <input type="password" class="form-control" name="newPassword">
        </div>
        <div class="form-group">
            <label>confirm new Password</label>
            <input type="password" class="form-control" name="confirmNewPassword">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Submit</button>
    </form>
</html>