.addcomment {
    padding: 10px;
    box-shadow: 0 5px 1rem -.5rem rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 5px;
    transition: all 300ms ease-in-out;
}

.addcomment:hover {
    box-shadow: 0 5px 1rem -.2rem rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .25);
}

.addcomment-wrapper {
    /* display: flex; */
    padding: 0 0;
    width: 100%;
}

.addcomment-wrapper legend {
    /* margin-left: 1rem; */ 
    width: 100%;
}

.addcomment-wrapper legend:first-child {
    margin-left: 0;
    width: auto;
}

.addcomment-wrapper label {
    font-size: 1rem;
}

.addcomment-wrapper textarea {
    display: block;
    width: 100%;
    height: 2.1rem;
    border-radius: 3px; 
    border: 1px solid #000000;
    padding: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    min-height: 2.1rem;
    max-width: 400px;
}

.addcomment a button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}