<form action="/addpost" method="POST" class="addpost">
    <div class="addpost-wrapper">
         <legend>
             <!-- <label for="title">Title</label> -->
             <input type="text" name="blogposttitle" placeholder="Fancy Title you cunt"/>
         </legend>
         <legend>
             <!-- <label for="post">Post</label> -->
             <textarea type="textarea" name="blogpost" placeholder="Gimme your Circlejerk"></textarea>
             <!-- <small>Supported formatting includes: <code>```pre```</code>, <code>`code`</code>, <code>_italic_</code>, <code>*bold*</code>, and even <code>~strike~</code> </small> -->
         </legend>
     </div>
     <a><button>Submit</button></a>
 </form>
 
 <script>
     console.log("addpost = loaded")
 </script>

 <style>
 </style>