<div>
        <div class="card">
                <h2>About Us</h2>
                <p>We are Fabbys News Network ... and ... we are. Retarded</p>
        </div>
        <div class="card">
                <h3>Follow Me</h3>
                <p>Some community shit posting fuck duck</p>
        </div>
</div>