<form action="/addcomment" method="POST" class="addcomment">
    <div class="addcomment-wrapper">
         <legend>
             <!-- <label for="post">Post</label> -->
             <textarea type="textarea" name="comment" placeholder="begone thot"></textarea>
             <input type="hidden" name="uid" value="<%= post.uid %>"></input>
             <!-- <small>Supported formatting includes: <code>```pre```</code>, <code>`code`</code>, <code>_italic_</code>, <code>*bold*</code>, and even <code>~strike~</code> </small> -->
         </legend>
     </div>
     <a><button>Submit</button></a>
 </form>