<div class="comment">
        <div>
            <% fnn_blog_comment.forEach(function(comment) { %> -->
                <p><%= comment.comment %></p>
            <% }); %>
        </div>
        <!-- <div class="post-helper">
            <!-- <code><%= post.uid %></code> -->
            <div class="flex">
                <%- include('modal', {post: post}); %>
                <%- include('delete', {post: post}); %>
            </div>
        </div> -->
</div>