<form name="deleteForm" method="POST" action="/deletePost">
    <input type="text" name="deleteBlogPost" value="<%= post.uid %>" style="display: none" />
    <button class="icon"><i class="material-icons md-18">delete</i></button>
</form>